// Google fonts
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

$noto-sans-jp: "Noto Sans JP", sans-serif;
$honey-yellow: rgba(255, 215, 0, 1);
$rich-black: rgba(28, 28, 28, 1);
$pure-white: rgba(255, 255, 255, 1);
$deep-blue: rgba(0, 0, 128, 1);
