@import "../../utilities/variables";

@mixin color($backgroundColor, $borderColor, $opacity: 1) {
  background-color: rgba($backgroundColor, $opacity);
  border-color: rgba($borderColor, $opacity);
}

.container {
  color: $pure-white;
  max-width: 100vw;

  .lobby-header {
    align-items: center;
    background-color: rgba($honey-yellow, 0.5);
    color: $deep-blue;
    display: flex;
    height: 20vh;
    text-align: center;

    .wrapper {
      background-color: $pure-white;
    }
  }
  .lobby-body {
    background-color: rgba($honey-yellow, 0.7);
    height: 70vh;

    .enter-btn {
      @include color($rich-black, $deep-blue);
      color: $pure-white;
      display: block;
      width: 100%;
    }

    .enter-btn:hover {
      @include color($rich-black, $deep-blue, 0.7);
    }
  }
  .lobby-footer {
    background-color: rgba($deep-blue, 0.7);
    height: 10vh;

    p {
      margin: 0;
    }
  }
}

.bolded {
  font-weight: bold;
}
