# dependencies
/node_modules

# Ignore environment variables file (if applicable)
.env

# production
/build
/dist

# Ignore log files
*.log

# Ignore editor/IDE specific files
./vscode
./idea

# Ignore dependency lock files (e.g., package-lock.json or yarn.lock)
package-lock.json
yarn.lock
